workflows_n8n/Entry Times.json
{
  "name": "Entry Times",
  "nodes": [
    {
      "parameters": {
        "options": {
          "timezone": "America/Argentina/Buenos_Aires"
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1440,
        448
      ],
      "id": "80b6320b-aa2c-49e4-87a1-6a2a89bb4c25",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "custom",
        "customFormat": "cccc dd-MM-yyyy HH:mm",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1232,
        448
      ],
      "id": "e36ad4e3-ec1c-40dd-a145-aaefffc9125b",
      "name": "Date & Time1"
    },
    {
      "parameters": {
        "url": "={{ $json.body.lastinput }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        -1440
      ],
      "id": "d032252d-1b19-429a-9169-731559cd12d3",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -80,
        -1440
      ],
      "id": "4bcf4ceb-c610-49d5-98de-5aa5e20f4d0c",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "TcKNZzNDBjGnGf1V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8060533f-a34d-4ed0-965d-f34a97b18f72",
              "name": "response",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        -1440
      ],
      "id": "0df685b8-4a0f-40d0-b013-fa7607d76a7d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d28e2a9-2f74-401d-a6a7-8fbd67397349",
              "name": "response",
              "value": "={{ $('Webhook').item.json.body.lastinput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        -1168
      ],
      "id": "aaa422f4-8ccd-4c46-aef9-8aee940dc360",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fc176013-6488-4b5e-a561-e5831639ac36",
              "name": "pregunta_final",
              "value": "={{ $json.response }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        -1440
      ],
      "id": "3becb001-2ba8-4cc9-8f4b-fa6c2a6c4a30",
      "name": "pregunta_final"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "415ee149-1ccb-48b0-815b-937c16444717",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2368,
        288
      ],
      "id": "10c5868f-b75f-4883-bdfc-68c57304366a",
      "name": "Webhook",
      "webhookId": "415ee149-1ccb-48b0-815b-937c16444717"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"output\": \"No tengo permitido procesar archivos\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        -880
      ],
      "id": "5002e6e2-e5db-4ace-9c17-83cc0d00314e",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"output\": \"No tengo permitido procesar imagenes\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        -1744
      ],
      "id": "06b9105e-d607-4a1b-a487-37dc2ef25f7f",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.lastinput }}",
                    "rightValue": ".mp3",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "e8f6085e-25f4-407c-8f4c-914fc8cfe050"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c37e5ede-b2ed-4bee-9d3d-702f9d09661d",
                    "leftValue": "={{ $('Webhook').item.json.body.lastinput }}",
                    "rightValue": ".png",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagen"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b8e3727e-ee85-409f-98b2-5933d99b2aff",
                    "leftValue": "={{ $('Webhook').item.json.body.lastinput }}",
                    "rightValue": ".jpeg",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagen"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7b414b62-ff93-4d6e-b966-22a0253f7a1c",
                    "leftValue": "={{ $('Webhook').item.json.body.lastinput }}",
                    "rightValue": ".pdf",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "935598bd-a1f6-42ca-a322-be9a5e64298e",
                    "leftValue": "={{ $('chat').item.json.chatInput }}",
                    "rightValue": "texto",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -992,
        -1360
      ],
      "id": "1af9c8b0-370a-4f7e-8727-6874d99bc15e",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('chat').item.json.sessionId }}",
        "messageData": "={{ $('pregunta_final1').item.json.pregunta_final}}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        32,
        448
      ],
      "id": "8851f744-0a5c-4c3d-aafc-6a6c20fe5b42",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "1gTM5WfQr10J0DDL",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        336,
        448
      ],
      "id": "328b7654-8f31-441a-9560-30331f8dfd66",
      "name": "Wait1",
      "webhookId": "822b127c-ca5c-4c8c-bfb6-d6b3504397e7"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "={{ $('chat').item.json.sessionId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        560,
        448
      ],
      "id": "27500832-abeb-48fb-a271-39731e36c47a",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "1gTM5WfQr10J0DDL",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        896,
        608
      ],
      "id": "591521b6-4e8e-4d66-b28c-1e544c632b0c",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "34346625-cd49-466e-b3d2-1225bf1f6fd9",
              "name": "response",
              "value": "={{ $('Redis1').item.json.message.join() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        432
      ],
      "id": "b8881529-c150-4224-918a-3e61236377c0",
      "name": "pregunta_usuario"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('chat').item.json.sessionId }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1312,
        432
      ],
      "id": "0b344759-2678-40ce-84c3-4053e7aed00e",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "1gTM5WfQr10J0DDL",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a706c46b-2955-4b1c-ad9d-0902e22d8b80",
              "leftValue": "={{ $json.message.last() }}",
              "rightValue": "={{ $('pregunta_final1').item.json.pregunta_final}}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        784,
        448
      ],
      "id": "7ac30f3d-0736-4734-92c6-e32c5746b164",
      "name": "If1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Input: {{ $('pregunta_usuario').item.json.response }}",
        "options": {
          "systemMessage": "=# Prompt Base para el Bot de n8n (Integración Clocky)\n\nEste prompt está diseñado para ser utilizado en un nodo de IA (LLM) dentro de n8n. Su objetivo es transformar descripciones de tareas en lenguaje natural en objetos JSON estructurados, listos para ser enviados a la API de Clocky para la creación de entradas de tiempo.\n\n---\n\n```\nEres un asistente experto diseñado para procesar descripciones de tareas en lenguaje natural y convertirlas en objetos JSON estructurados para una API de seguimiento de tiempo.\n\n**Información de Contexto:**\nEl usuario proporcionará una descripción en lenguaje natural de sus tareas diarias.\nTambién se te proporcionará un objeto JSON que contiene listas de proyectos, clientes y etiquetas disponibles de la aplicación de seguimiento de tiempo. DEBES usar el `id` de estas listas al asignar `project_id` o `tag_ids`.\n\n**Datos Disponibles (formato JSON - proporcionados por el endpoint GET de la API de Clocky):**\nPara esto  llama a la tool \"listar tareas\"\n```json\n{\n  \"projects\": [\n    { \"id\": \"uuid-proyecto-1\", \"name\": \"Clocky Frontend\", \"client_id\": \"uuid-cliente-a\" },\n    { \"id\": \"uuid-proyecto-2\", \"name\": \"Clocky Backend\", \"client_id\": \"uuid-cliente-a\" },\n    { \"id\": \"uuid-proyecto-3\", \"name\": \"Campaña de Marketing\", \"client_id\": \"uuid-cliente-b\" }\n  ],\n  \"clients\": [\n    { \"id\": \"uuid-cliente-a\", \"name\": \"Acme Corp\" },\n    { \"id\": \"uuid-cliente-b\", \"name\": \"Globex Inc\" }\n  ],\n  \"tags\": [\n    { \"id\": \"uuid-tag-1\", \"name\": \"Desarrollo\" },\n    { \"id\": \"uuid-tag-2\", \"name\": \"Reunión\" },\n    { \"id\": \"uuid-tag-3\", \"name\": \"Investigación\" }\n  ]\n}\n```\n\n**Tu Tarea:**\n1.  **Analiza la entrada del usuario** para identificar tareas individuales, sus descripciones y sus duraciones (en horas o minutos).\n2.  **Empareja los nombres de proyectos** de la entrada del usuario con el campo `name` en la lista `projects`. Si se encuentra una coincidencia clara, usa su `id` como `project_id`. Si no se menciona ningún proyecto explícitamente o la coincidencia no es clara, establece `project_id` en `null`.\n3.  **Empareja los nombres de etiquetas** de la entrada del usuario con el campo `name` en la lista `tags`. Si se encuentran coincidencias, incluye sus `id`s en el array `tag_ids`. Si no se mencionan etiquetas, `tag_ids` puede ser un array vacío u omitirse.\n4.  **Calcula `start_time` y `end_time`**:\n    *   Asume que todas las tareas se completaron **hoy**.\n    *   El `end_time` para la *última* tarea debe ser `[HORA_ACTUAL_ISO]` (ej., \"2025-11-13T15:30:00.000Z\").\n    *   Calcula `start_time` restando la duración de la tarea de su `end_time`.\n    *   Si se describen múltiples tareas, asume que se realizaron secuencialmente, trabajando hacia atrás desde la `[HORA_ACTUAL_ISO]`.\n    *   Todos los tiempos deben estar en formato ISO 8601 (ej., \"YYYY-MM-DDTHH:mm:ss.SSSZ\").\n5.  **Parámetros Fijos:**\n    *   `workspace_id`: `[TU_WORKSPACE_ID]`\n    *   `user_id`: `[TU_USER_ID]`\n    *   `billable`: Siempre `true` a menos que el usuario indique explícitamente lo contrario (ej., \"no facturable\").\n\n**Formato de Salida:**\nTu respuesta DEBE ser un array JSON de objetos de entrada de tiempo. Cada objeto en el array debe adherirse estrictamente a la siguiente estructura. NO incluyas ningún texto conversacional, explicaciones o markdown fuera del array JSON.\n\n```json\n[\n  {\n    \"workspace_id\": \"string (UUID)\",\n    \"user_id\": \"string\",\n    \"project_id\": \"string (UUID) | null\",\n    \"description\": \"string\",\n    \"start_time\": \"string (ISO 8601 datetime)\",\n    \"end_time\": \"string (ISO 8601 datetime) | null\",\n    \"billable\": \"boolean\",\n    \"tag_ids\": \"array of string (UUID) | optional\"\n  }\n]\n```\n\n**Ejemplo de Entrada del Usuario:**\n\"Hoy trabajé 2.5 horas en el frontend de Clocky, implementando la nueva API. Luego tuve una reunión de 1 hora sobre el proyecto de Marketing.\"\n\n**Ejemplo de Salida Esperada (asumiendo que la hora actual es 2025-11-13T18:00:00.000Z, y usando IDs de ejemplo):**\n```json\n[\n  {\n    \"workspace_id\": \"workspace-1\",\n    \"user_id\": \"60c7a902-aeae-4a42-8d26-38f7570b429c\",\n    \"project_id\": \"uuid-proyecto-3\",\n    \"description\": \"reunión sobre el proyecto de Marketing\",\n    \"start_time\": \"2025-11-13T17:00:00.000Z\",\n    \"end_time\": \"2025-11-13T18:00:00.000Z\",\n    \"billable\": true\n  },\n  {\n    \"workspace_id\": \"workspace-1\",\n    \"user_id\": \"60c7a902-aeae-4a42-8d26-38f7570b429c\",\n    \"project_id\": \"uuid-proyecto-1\",\n    \"description\": \"implementando la nueva API\",\n    \"start_time\": \"2025-11-13T14:30:00.000Z\",\n    \"end_time\": \"2025-11-13T17:00:00.000Z\",\n    \"billable\": true,\n    \"tag_ids\": [\"uuid-tag-1\"]\n  }\n]\n```\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1616,
        496
      ],
      "id": "2c8004bb-e972-4f2c-847b-611ebf031c85",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        3344,
        48
      ],
      "id": "af079a97-2a5f-4f8a-8a20-00dca9f53b24",
      "name": "Respond to Webhook",
      "notesInFlow": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "message": "={{$json.response}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        2032,
        432
      ],
      "id": "13ef3524-cfa4-4295-8384-85c1c80b737b",
      "name": "Respond to Chat",
      "alwaysOutputData": false,
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1440,
        672
      ],
      "id": "daf65328-d8ab-42e5-8bb1-ce7b752ec38a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "TcKNZzNDBjGnGf1V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('chat').item.json.sessionId }}",
        "contextWindowLength": 150
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1616,
        672
      ],
      "id": "5991f7f6-c9e8-4cff-8700-e553aca1437e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1728,
        448
      ],
      "id": "9c0bc9b7-fa11-405d-95a9-08024c9ee850",
      "name": "chat",
      "webhookId": "bae96142-5d08-411b-9beb-2cc18f2ccc5f",
      "alwaysOutputData": false,
      "executeOnce": false,
      "notesInFlow": false,
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d28e2a9-2f74-401d-a6a7-8fbd67397349",
              "name": "response",
              "value": "={{ $('chat').item.json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -704,
        448
      ],
      "id": "43670532-cd4f-4a39-af77-898d2f3c65bc",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fc176013-6488-4b5e-a561-e5831639ac36",
              "name": "pregunta_final",
              "value": "={{ $json.response }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        448
      ],
      "id": "12323c31-48ae-46b3-a819-3f50791500fb",
      "name": "pregunta_final1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "BWZcZr16yFvAN9nZ",
          "mode": "list",
          "cachedResultUrl": "/workflow/BWZcZr16yFvAN9nZ",
          "cachedResultName": "list tasks"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "workspace_id": "workspace-1"
          },
          "matchingColumns": [
            "workspace_id"
          ],
          "schema": [
            {
              "id": "workspace_id",
              "displayName": "workspace_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1808,
        672
      ],
      "id": "f0b2511f-85ae-414b-afef-2855ce024220",
      "name": "listar tareas"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "34.145.205.107:5679",
            "x-page-id": "1370947",
            "accept": "application/json",
            "userid": "5492494466525",
            "content-type": "application/x-www-form-urlencoded",
            "x-user-id": "5492494466525",
            "x-flowcount": "12.2",
            "content-length": "24"
          },
          "params": {},
          "query": {},
          "body": {
            "lastinput": "7000 no es 0km"
          },
          "webhookUrl": "https://34.145.205.107:5679:5678/webhook/415ee149-1ccb-48b0-815b-937c16444717",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Date & Time": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "pregunta_final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "pregunta_final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pregunta_usuario": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "pregunta_usuario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pregunta_final": {
      "main": [
        []
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "chat": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "pregunta_final1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pregunta_final1": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "listar tareas": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "00c07408-0776-48bf-bbd0-c11377c9a1b8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bf8bb83ca1209dbbc7e899e8dca37457a46645c99c41f4c463e859774af2956d"
  },
  "id": "ezoNE9WWH7ObUX0E",
  "tags": []
}