workflows_n8n/list tasks.json
{
  "name": "list tasks",
  "nodes": [
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('init_tool').first().json.user_id }}-{{ $('init_tool').first().json.codigo_postal }}-{{ $('init_tool').first().json.year_auto }}-{{ $('init_tool').first().json.zeroKM }}-{{ $('init_tool').first().json.GNC }}-{{ $('init_tool').first().json.id_infoauto }}",
        "value": "={{ JSON.stringify($json) }}",
        "expire": true,
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        560,
        -192
      ],
      "id": "78130a44-3c1d-4543-9c88-926df3ec6444",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "1gTM5WfQr10J0DDL",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "tareas",
        "key": "={{ $('init_tool').item.json.workspace_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -624,
        192
      ],
      "id": "38df7424-7a45-459b-8a70-aba349b8a226",
      "name": "Obtener cotizaciones de la hora pasada",
      "credentials": {
        "redis": {
          "id": "1gTM5WfQr10J0DDL",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return JSON.parse($('Obtener cotizaciones de la hora pasada').first().json.cotizacion)"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        368
      ],
      "id": "bf6ab3c7-1da1-4866-8980-eae2268dfaa5",
      "name": "Parsear cotizaciones"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        368
      ],
      "id": "6a548cb8-1c11-494d-8386-b1e2cd7cc748",
      "name": "Devuelvo cotizaciones"
    },
    {
      "parameters": {
        "url": "=http://clocky_next_app:3000/api/time-entries",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "workspace_id",
              "value": "workspace-1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        32
      ],
      "id": "0ff909bc-996e-42d2-be19-38922f33aca2",
      "name": "Multi Cotizar",
      "credentials": {
        "httpHeaderAuth": {
          "id": "TtgqC8k9ZbpNEB9z",
          "name": "clocky-api-key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let aseguradoras = $('Multi Cotizar').all();\nlet result = {}\n\n/// Temp variables\nlet poliza = {};\nlet nombreDeAseguradora = '';\n\nfor (let aseguradora of aseguradoras) {\n\n  if (Object.keys(aseguradora.json).length == 0) {\n    continue;\n  }\n  \n  if (!aseguradora.json.planes.original.coberturas) {\n    continue;\n  }\n  \n  if (!aseguradora.json.planes.original.coberturas.length) {\n    continue;\n  }\n\n  aseguradora.json.planes.original.coberturas.forEach(c => {\n\n    let nombreDeCategoria = c.Categoria.label === 'RESP. CIVIL' ? 'RESPONSABILIDAD CIVIL' : c.Categoria.label;\n    \n    poliza = {\n      name: nombreDeCategoria,\n      \"nombre para mostrar\": `${nombreDeCategoria} - $${c.Cuota}`,\n      cuota: c.Cuota,\n      suma_asegurada: c.suma_asegurada,\n      franquicia: c.Franquicia.label,\n      coberturas: {\n        \"responsabilidad civil\": c.RC.label,\n        \"tumulto_popular\": c.Tumulto_Popular.label,\n        grua: c.Grua.label,\n        incendio: c.Incendio.label,\n        robo: c.Robo.label,\n        accidente: c.Accidente.label,\n        granizo: c.Granizo.label,\n        terremoto: c.Terremoto.label,\n        inundacion: c.Inundacion.label,\n        cristales: c.Cristales.label,\n        parabrisas: c.Parabrisas.label,\n        cerraduras: c.Cerraduras.label\n      },\n      urlCheckout: c.ulrCheckout,\n      \"link para contratacion\": c.urlCheckout\n    }\n\n    nombreDeAseguradora = aseguradora.json.planes.original.aseguradora.toString();\n\n    // Si existe categoria\n    if (result[poliza.name]) {\n\n      // Si existe la aseguradora dentro de esa categoria\n      if (result[poliza.name][nombreDeAseguradora]) {\n        // Pusheo la poliza\n        result[poliza.name][nombreDeAseguradora].polizas.push(poliza);\n        \n      } else { // Si no existe la aseguradora dentro de la categoria\n        result[poliza.name][nombreDeAseguradora] = {\n          \"mas informacion\": c.archivo_mas_info.archivo,\n          polizas: [poliza]\n        }\n      }\n      \n    } else { // Si no existe la categoria\n\n      // Creo la estructura\n      result[poliza.name] = {\n        [nombreDeAseguradora]: {\n          \"mas informacion\": c.archivo_mas_info.archivo,\n          polizas: [poliza]\n        }\n      }\n      \n    }\n    \n  });\n\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        -192
      ],
      "id": "83da72b0-9415-4758-9d07-a4318568f7e9",
      "name": "Formateo respuesta"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4a4d7790-1189-4e48-b2ef-0348ca5bd355",
              "name": "respond",
              "value": "={{ JSON.stringify($json) }}\n\nDESCUENTOS DISPONIBLES: Abonando con tarjeta de crédito podemos ofrecer un descuento especial. Con CBU también aplican descuentos en menor porcentaje.  Descuentos por compañía: - Sancor: 5% con tarjeta de crédito - Mercantil Andina: 15% con tarjeta de crédito / 5% con CBU - San Cristóbal: 20% con tarjeta de crédito / 5% con CBU - Galeno: 15% con tarjeta de crédito / 5% con CBU",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        -192
      ],
      "id": "2af9d701-d373-4029-82ee-34471aeb4dbb",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "workspace_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -816,
        192
      ],
      "id": "7f1c0190-2e43-4028-8050-56ceef581830",
      "name": "init_tool"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "425511a9-ba2d-45b8-9d82-0b5c1b239604",
              "leftValue": "={{ $json.tareas }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -416,
        192
      ],
      "id": "c3e45188-c7da-4b5b-92f9-a9bac090aead",
      "name": "¿hay tareas?"
    }
  ],
  "pinData": {},
  "connections": {
    "Redis": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener cotizaciones de la hora pasada": {
      "main": [
        [
          {
            "node": "¿hay tareas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear cotizaciones": {
      "main": [
        [
          {
            "node": "Devuelvo cotizaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Multi Cotizar": {
      "main": [
        []
      ]
    },
    "Formateo respuesta": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "init_tool": {
      "main": [
        [
          {
            "node": "Obtener cotizaciones de la hora pasada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿hay tareas?": {
      "main": [
        [
          {
            "node": "Multi Cotizar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parsear cotizaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9df08121-3a18-4cef-bbe2-497760185842",
  "meta": {
    "instanceId": "bf8bb83ca1209dbbc7e899e8dca37457a46645c99c41f4c463e859774af2956d"
  },
  "id": "BWZcZr16yFvAN9nZ",
  "tags": []
}